#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-div {
  display: flex;
  flex-direction: column;
}

.button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: background-color ease 0.1s;
}

.button:active {
  background-color: #505050;
}