.side-wrapper {
  display: flex;
  left: 0;
  width:0;
  outline: solid black 2px;
  transition: filter ease 0.5s;
}

.bottom-wrapper {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

.basic-input {
  border-radius: 0;
  border-style: solid;
  outline: none;
}

.message-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 100%;
}

.message-body {
  resize: none;
  overflow: hidden;
  border-style: solid;
  font-family: Arial;
  outline: none;
  padding: 0.2rem; 
  margin-bottom: 0;
  min-height: 2rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.message-button {
  display: flex;
  border-radius: 0;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.message-button:active {
  background-color: #505050;
}

.middle-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #242424;;
  height: 100vh;
  width: calc(100vw - 16rem);
  right: 0;
  transition: filter ease 0.5s;
}

.middle-wrapper.animate {
  transition: width ease 0.5s;
}

.open-button-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.open-button {
  display: flex;
  margin: 0.5rem auto;
  margin-left: 0.5rem;
  padding: 0.4rem;
  align-items: center;
  align-items: center;
  font-size: 1.5rem;
}

.open-button:active {
  background-color: #505050;
}