.modal-background {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
}

.modal-body {
  display: flex;
  width: fit-content;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: 0 0 1rem black;
  justify-content: center;
  align-items: center;
}