.text-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: left;
  padding-left: 1.5rem;
  opacity: 1;
  transition: padding-left ease 1s, opacity ease 1s;
}

.text-wrapper.start-animation {
  padding-left: 10rem;
  opacity: 0;
}

.sender-info {
  cursor: pointer;
}