.top-bar {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  flex-shrink: 0;
  background-color: #464646;
}

.icon-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
}

.logout-icon {
  color: white;
  font-size: 2rem;
}

.logout-icon:hover {
  cursor: pointer;
}

.return-icon {
  color: white;
  font-size: 2.5rem;
}

.return-icon:hover {
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.current-password-input {
  outline: none;
  border-radius: 0;
  border-style: solid;
}

.new-password-input {
  outline: none;
  border-radius: 0;
  border-style: solid;
  border-top: 0;
}

.change-password-button {
  border-radius: 0;
  padding: 0.2rem;
}

.change-password-button:active {
  background-color:#868686;
}